.navbar {
  width: 1125px;
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.navbarlogo {
  width: 79px;
  height: 79px;
  cursor: pointer;
  transition: 1s;
}

.navbarlogo:hover {
  /* transform: scale(1.5);
  transform: rotate(45deg); */
}

.navbarlogo img {
  width: 100%;
}

.navmenu {
  display: flex;
  gap: 0 40px ;
  justify-content: space-between;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 20px;
  background: #566aa0;
}

.navmenu li {
  padding: 4px 5px;
  transition:  0.3s;
  cursor: pointer;
}

.navmenu li:hover  {
  box-shadow: 0 0 10px #4A102A;
  transform: scale(1.2);
  color: #000;
  background: #8CE4FF;
  border-radius: 5px;
  font-weight: 600;
}

.btn {
  width: 165px;
  height: 50px;
  border: none;
  background: #DC0048;
  color: #fff;
  border-radius: 5px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  font-size: 18px;
  
}

.navbtn {
  margin-top: 20px;
}

.navbtn:hover {
  transform: scale(1.1); 
}
