@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
}

.container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

.header {
  background: #FCF1F4;
}

/* navbar */
.navbar {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarlogo {
  width: 79px;
  height: 79px;
  cursor: pointer;
  transition: 1s;
}

.navbarlogo img {
  width: 100%;
}

.navmenu {
  display: flex;
  gap: 0 40px;
  justify-content: space-between;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 5px;
}

.navmenu li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  color: #150101;
}

.navmenu li:hover {
  transform: scale(1.2);
  color: #DC0048;
  font-weight: 600;
} 

.navmenu li a:hover {
  color: #DC0048;
  font-weight: 600;
}

.btn {
  width: 165px;
  height: 50px;
  border: none;
  background: #DC0048;
  color: #fff;
  border-radius: 5px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  transform: scale(1.1);
  background: #fc236b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

/* hero */
.hero {
  max-width: 1117px;
  width: 100%;
  display: flex;
  align-items: center;
}

.heroinfo {
  max-width: 665px;
}

.subtitle {
  font-size: 14px;
  font-family: "Roboto" sans-serif;
}

.hero_title {
  width: 665px;
  color: #0F0101;
  font-family: "Fredoka", sans-serif;
  font-size: 57px;
  font-weight: 600;
  opacity: 0.9;
}

.herotext {
  width: 523px;
  font-size: 18px;
  margin: 30px 0 40px 0;
  color: #0F0101;
  font-family:"Hind Madurai", sans-serif;
  opacity: 0.6;
}

.heroimg {
  width: 867px;
}

.heroimg img {
  width: 100%;
}


/* delivery */
.delivery {
  display: flex;
  gap: 9px;
  margin: 50px 0 0 0;
}

.deliverybox {
  width: 250px;
  color: #000;
  text-align: center;
  font-family:"Hind Madurai", sans-serif;
  transition: 0.5s;
  cursor: pointer;
  padding: 0 0 20px 0;
}

.deliverybox:hover {
  border: 1px solid rgba(0, 0, 0, 0.08);
  transform: scale(1.1);
}

.deliverybox img {
  width: 45px;
  height: 45px;
  margin: 20px auto;

}

.deliverybox h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 9px;
}

.deliverybox p {
  font-size: 14px;
  opacity: 0.6;
  width: 198px;
  margin: 0 auto;
}

.freesh {
  width: 50px !important;
}

.deliverybox img:first-child {
  width: 40px;
}
/* details */

.sedetails {
  background-color: #F8EDF0;
}
.sedetails .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detailstitle {
  font-size: 44px;
  font-weight: 500;
}

.detailstitle b {
  display: block;
  margin-bottom: 0px; 
  color: #150101;
  font-family: "Hind Madurai", sans-serif;
}

.detailstitle p {
  max-width: 442px;
  font-size: 16px;
  font-family:"Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.6; 
  margin: 20px 0;
}

.detailsimg {
  width: 655px;
}

.detailsimg img {
  width: 100%;
}

.ourproduct h2 {
  font-size: 44px;
  font-family:"Hind Madurai", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 100px 0 60px 0;
}

.productmenu ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  font-family:"Roboto", sans-serif;
  font-weight: 500;
  color: #000;
}

.productmenu ul li a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.4s;
  padding: 5px 0;
  opacity: 0.6;
  color: #000;
}

.productmenu ul li {
  transition: 0.4s;
}

.productmenu ul li:hover {
  transform: scale(1.2);
}

.productmenu ul li a:hover {
  padding: 5px 0;
  border-bottom: 3px solid #DC0048;
}

.insideboxes {
  display: flex;
  align-items: center;
    gap: 80px;
}

.insideboxesimg {
  width: 580px;
}

.insideboxesimg img {
  width: 100%;
}

.insideboxesinfo {
  width: 454px;
}

.insideboxes h3 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Hind Madurai", sans-serif;
  margin-bottom: 11px;
  color: #000;
}

.insideboxes p {
  font-size: 16px;
  font-family:"Roboto", sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 24px;
  opacity: 0.7;
}

.productprice {
  display: flex;
  gap: 0 20px;
  font-family:"Hind Madurai", sans-serif;
  font-weight: 500;
  align-items: center;
}

.realprice {
  text-decoration: line-through;
}

.discountprice {
  font-size: 26px;
}

.Cayennechocolate {
  flex-direction: row-reverse;
}

.adele {
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.adelelogo {
  display: flex;
  gap: 10px;
}
.adelelogoimg {
  width: 59px;
}

.adelelogoimg img {
  width: 100%;
  border-radius: 50%;
}

.adelename {
  display: flex;
  flex-direction: column;
}

.adelename b {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.adelename span {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.adelerightimg {
  max-width: 564px;
}

.adelerightimg img {
  width: 100%;
}

.adeletext {
  display: flex;
}

.adeletext p{
  max-width: 322px;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.quotes1 {
  width: 10px;
  height: 10px;
  font-size:25px;
  transform: translate( -4px,7px);
}

.quotes2 {
  width: 10px;
  height: 10px;
  font-size:25px;
  transform: rotateY(180deg);
}

.adeleother {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.adeleother img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.adeleother img:nth-child(3) {
  width: 70px;
  height: 70px;
}

.productfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adeleother img:nth-child(1) {
  transform: scale(0.5);
}

.rightarrow1 {
  transform: rotate(180deg);
}

.mask {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  gap: 130px;
  background: #F8EDF0;
}

.maskimg {
  width: 305px;
  height: 627px;
  /* transform: translateY(50px); */
}

.maskimg img {
width: 100%;
}

.maskinfo {
  max-width: 640px;
}

.maskinfo h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 44px;
  margin-bottom: 20px;
}

.maskinfo p {
  max-width: 630px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0.7;
  color: #0F0101;
  margin-bottom: 29px;
}

.maskinfoul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select , .addcart , .frderfood  {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select img ,.addcart img, .frderfood img{
  width: 30px;
  padding: 7px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.maskdownload {
  display: flex;
  align-items: center;
  gap: 10px;
}

.maskgoogleadownapp {
  width: 200px;
}

.maskdownappstore {
  width: 173px;
}

.maskgoogleadownapp img , .maskdownappstore img {
  width: 100%;
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: column;
  padding: 190px 0  130px 0;
  align-items: center;
  gap: 28px;
}
.question h2{
  width: 522px;
  font-size: 44px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
}

.questioninp{
  display: flex;
  gap: 0;
}


.questioninp input {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  border: none;
  background: #fafafa;
  outline: none;
}

.questioninp button {
  padding: 26px 46px;
  border: none;
  background: #D64374;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.questioninp button:hover, .footerinp button:hover {
  background: #c2285b;

}

footer {
  background: #000;
  font-family: "Roboto", sans-serif;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 70px 0 100px 0;
}

.footerlogo {
  width: 79px;
}

.footerlogo img {
  width: 100%;
}

.footerbox1 p {
  width: 207px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  letter-spacing:  1%;
  margin: 9px 0 25px 0;
  opacity: 0.7;
  line-height: 24px;
}

.footerbox1 span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.9;
}

.massanger {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.massanger img {
  width: 15px;
  cursor: pointer;
}

.footerbox2 ul {
  list-style: none;
}

.footerbox2 ul li a {
  text-decoration: none;
  color: #fff;
}
.footerbox2 ul li {
  margin-bottom:8px;
  opacity: 0.7;
}

.footerbox2 ul li:first-child {
  opacity: 0.9;
}

.footerbox3 ul {
  
}

.footerbox3 ul li {
  list-style: none;
  margin-bottom: 10px;
  opacity: 0.7;
}
.footerbox3 ul li a {
  text-decoration: none;
  color: #fff;
}

.footerbox3 ul li a:hover, .footerbox2 ul li a:hover{
  color: #D23166;
}

.footerbox4 {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.footerbox4 span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.footerinp {
  display: flex;
  gap: 0;
}

.footerinp input {
  padding: 20px 0 20px 32px;
  max-width: 488px;
  width: 100%;
  background: #000;
}

.footerinp button {
  max-width: 155px;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background: #D23166;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
 
.payment {
  margin-top: 15px;
}

.payment img {
  cursor: pointer;
}

.payment img:nth-child(1) {
  width: 19px;
}

.payment img:nth-child(2) {
  width: 34px;
  height: 21px;
}
.payment img:nth-child(3) {
  width: 50px;
  height: 21px;
}








