/* main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
}

.container {
  margin: 0 auto;
  display: flex ;
  flex-direction: column;
  align-items: center;
  padding: 30px 250px 0 250px;
  background: #7f90c1;
}

.btn {
  width: 165px;
  height: 50px;
  border: none;
  background: #DC0048;
  color: #fff;
  border-radius: 5px;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  transform: scale(1.1); 
  background: #fc236b;
  box-shadow: 0 0 20px #fff;
}
  /* navbar */
.navbar {
  width: 1125px;
  height: 79px;
  display: flex;
  justify-content: space-between;
}

.navbarlogo {
  width: 79px;
  height: 79px;
  cursor: pointer;
  transition: 1s;
}

.navbarlogo:hover {
  /* transform: scale(1.5);
  transform: rotate(45deg); */
}

.navbarlogo img {
  width: 100%;
}

.navmenu {
  display: flex;
  gap: 0 40px ;
  justify-content: space-between;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 5px;
  background: #566aa0;
}

.navmenu li {
  padding: 4px 5px;
  transition:  0.3s;
  cursor: pointer;
}

.navmenu li:hover  {
  box-shadow: 0 0 10px #4A102A;
  transform: scale(1.2);
  color: #000;
  background:linear-gradient(135deg,#fff,#FFAFBD);
  border-radius: 5px;
  font-weight: 600;
}

/* hero */
.hero {
  width: 1117px;
  display: flex;
  align-items: center;
  margin-top: 47px;
}

.heroinfo {
  width: 665px;
}

.heroimg {
  width: 597px;
}

.heroimg img {
  transform: translateX(80px);
  width: 110%;
  height: 450px;
}

.subtitle {
  font-size: 14px;
  color: #fff;
  font-family: sans-serif;
}

.hero_title {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 600;
  color: #fff;
}

.herotext {
  font-size: 18px;
  margin: 30px 0 40px 0;
  color: #ffffff;
  letter-spacing: 1.2px;
  font-family: sans-serif;
  font-size: 18px;
  color: #0F0101;
  opacity: 0.7;
}
/* delivery */
.delivery {
  display: flex;
  gap: 20px;
  margin: 150px 0 0 0;
}

.deliverybox {
  width: 250px;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 15%;
  background: #8498d4;
}

.deliverybox:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px  #9929EA ;
  background: linear-gradient( 150deg,#009FFF, #ec2F4B );
  border-radius: 15%;
}

.deliverybox img {
  width: 45px;
  height: 45px;
  margin: 20px auto;
  
}

.freesh {
  width: 50px !important; 
}

.deliverybox img:first-child {
  width: 40px;
}

.deliverybox h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.deliverybox p {
  font-size: 14px;
  opacity: 80%;
}
/* details */
.sedetails {
  display: flex;
  align-items: center;
}

.detailsimg {
  width: 655px;
}

.detailsimg img {
  width: 100%;
}

.detailstitle {
  width: 349px;
  font-size: 44px;
  font-family: sans-serif;
  font-weight: 500;
}

.detailstitle b {
  display: block;
  margin-bottom: 100px;
  color: #fff;
  text-shadow: 0 0 30px #111;
}
 
.productmenu ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
}

.productmenu ul li {
  cursor: pointer;
  opacity: 0.9;
  transition: 0.4s;
  padding: 5px 10px;
}

.productmenu ul li:hover {
  transform: scale(1.2);
  color: #DC0048;
  padding: 5px 10px;
  background: linear-gradient( 90deg,#C9FFBF,#FFAFBD);
  border-radius: 15px;
  color: #3f4c6b;
}

.insideboxes {
  display: flex;
  align-items: center;
  gap: 80px;
}

.insideboxesimg {
  width: 580px;
}

.insideboxesimg img {
  width: 100%;
}

.insideboxesinfo {
  width: 454px;
}

.insideboxes h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 11px;
  color: #fff;
}

.insideboxes p {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}









