@media (max-width:600px) {
  .navmenu {
    display: none;
  }

  .hero {
    /* width: 100%; */
    flex-direction: column;
    gap: 30px;
    text-align: center;
    /* flex-wrap: wrap; */
  }

  .heroinfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtitle {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 10px;
    
  }

  .hero_title {
    font-size: 28px;
    width: 100%;
    line-height: 1.2;
  }

  .herotext {
    font-size: 14px;
    width: 100%;
    max-width: 320px;
    margin: 15px 0 25px 0;
  }

  .heroimg {
    width: 100%;
    max-width: 300px;
  }

  .delivery {
    flex-direction: column;
    align-items: center;
  }

  .insideboxes {
    flex-direction: column;
  }

  .deliverybox {
    width: 100%;
    max-width: 280px;
  }

  .sedetails {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
  }

  .detailstitle b {
    margin: 0;
  }

  .detailsimg {
    width: 100%;
  }

  .adelerightimg img {
    width: 100%;
  }

  .productmenu {
    display: none;
  }

  .insideboxesimg{
    width: 100%;
  }

  .insideboxesinfo {
    width: 100%;
    text-align: center;
  }

  .productprice {
    justify-content: center;
  }

  .productfooter {
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
  }

  .maskinfo h2 {
    font-size: 30px;
    padding: 20px;
    text-align: center;
  }

  .maskinfo p {
    text-align: center;
    padding: 20px;
  }

  .maskinfoul {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .select , .addcart, .frderfood {
    flex-direction: column;
  }

  .maskdownload {
    flex-direction: column;
  }

  .question h2{
    font-size: 20px;
    padding: 0 4px;
  }

  footer .container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .footerlogo {
    margin: 0 auto;
  }

  .questioninp input {
    width: 200px;
  }

  .footerinp input {
    width: 200px;
  }
  .massanger {
    justify-content: center;
    padding: 10px 0;
  }
}